<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<div class="container">
    <h1>Videos Destacados</h1>
    <div class="row">
        <div class="col-md-9 col-sm-12">
        <% for(let i in videos) { %>
            <div class="jumbotron">
                <iframe width="500" height="300" src="<%= videos[i].url %>" allowfullscreen></iframe>
                <p class="fecha">Publicado el: <%= videos[i].fecha %></p>
            </div>
        <% } %>   
        </div> 

        <div class="col-md-3 col-sm-12">
            <h2>Eventos del mes</h2>
            <div class="container">
                <div class="evento">
                    <img class="img-thumbnail" src="http://www.brunoticias.com/wp-content/uploads/2016/08/SEMANA-NACIONAL-DEL-EMPRENDEDOR.jpg">
                    <a href="https://www.semanadelemprendedor.gob.mx/"><h4>Semana del emprendedor 2018</h4></a> 
                    <p class="evento-content">Del 10 al 14 de septiembre de 2018.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>