<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<div class="container">
    <h1>Videos Destacados</h1>
    <div class="row">
        <div class="col-md-9 col-sm-12">
        <% for(let i in videos) { %>
            <div class="jumbotron">
                <h3 class="titulo-video"><%= videos[i].titulo %></h3>
                <iframe width="560" height="315" src="<%= videos[i].url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                
                <p class="fecha">Publicado el: <%= videos[i].fecha %></p>
            </div>
        <% } %>   
        </div> 

        <div class="col-md-3 col-sm-12">
            <div class="noticias">
                <h2><i class="fas fa-newspaper"></i> Noticias <br> y  <br> Novedades</h2>  
            </div>
            <div class="container">
                <div class="evento">
                    <img class="img-thumbnail" src="http://www.brunoticias.com/wp-content/uploads/2016/08/SEMANA-NACIONAL-DEL-EMPRENDEDOR.jpg">
                    <a href="https://www.semanadelemprendedor.gob.mx/" target="_blnak"><h4>Este es el titulo de una noticia/novedad</h4></a> 
                    <p class="evento-content">Aquí va un pequeño resumen</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>