body{
    background-color: #C9A9E0;
}

h1 {
    font-size: 45px;
    opacity: 0;
    animation: appear 1.5s 1.5s forwards;
}

h3 {
    text-align: center;
}

section.search {
    display: none;
    animation: search 1s 1.5s forwards;
    opacity: 0;
}

@keyframes search {
    25%{
        color:black;
        opacity: 0.2;
    }
    50%{
        color:black;
        opacity: 0.5;
    }
    100% {
        color: #c84ad9;
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {
    #merca{
        font-size: 25px;
    }
}

@media screen and (max-width: 600px){
    .serv-interactivo {
        display: none;
    }
    section.search {
        display: block;
    }
}

.subcategorias{
    display: none;
    opacity: 0;
}

div.jumbotron:hover .subcategorias{
    display: block;
    animation: sub 1s 0.3s forwards;
}

div.jumbotron:hover{
    background: black;
    color: gray;
    transition: 0.5s ease-in-out;
}

a.a-sub{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

a.a-sub:hover {
    color: gray;
}

a.merca {
    font-size: 16px;
}

a.sin-sub{
    text-decoration: none;
    color: black;
}

p.desc {
    font-size: 22px;
    margin-top: 3%;
    animation: appear 1.5s 1.5s forwards;
    opacity: 0;
}

section.serv-interactivo {
    animation: appear 1.5s 1.5s forwards;
    opacity: 0;  
}

div.precio {
    text-align: end;
    font-size: 18px;
    animation: appear 1.5s 1.5s forwards;
    opacity: 0;
}

@media screen and (max-width: 600px){
    div.precio {
        font-size: 14px;
    }
    p.desc {
        font-size: 16px;
        margin-top: 3%;
    }
    h1 {
        font-size: 20px;
    }
}

@keyframes sub {
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        background-color: black;
    }
}

@keyframes appear {
    25%{
        color: #c84ad9;
        opacity: 0.2;
    }
    50%{
        color: #c84ad9;
        opacity: 0.5;
    }
    100% {
        color: black;
        opacity: 1;
    }
}